<div class="row p-0 pt-5 mt-5">
    <div class="d-flex justify-content-center text-title mt-5">{{title}}</div>

    <div class="serach-menu">
        <div class="row d-flex serach-menu2">
            <div class="col-lg-auto col-md-12  col-sm-12 col-12   margin-search search-md-center">
                <button class="button-building me-3" routerLink="/addDrug">
                    ตึก 1</button>
                <button class="button-building me-3" routerLink="/addImgDrug">
                    ตึก 2</button>
                    <button class="button-building" routerLink="/addImgDrug">
                        ตึก 3</button>
            </div>
            <div class="d-flex col-lg-auto col-md-auto col-sm-12 col-auto margin-search search-md-end">
                <label class="text-in-content mt-2 me-3">สถานะ</label>
                <label><select class="form-select" aria-label="Default select example">
                        <option selected>เลือกสถานะ</option>
                        <option value="1">รอดำเนินการ</option>
                        <option value="2">กำลังดำเนินการ</option>
                        <option value="3">เสร็จสิ้น</option>
                    </select></label>
            </div>

            <div class="d-flex col-lg-auto col-md-auto col-sm-12 col-auto margin-search search-md-end">
                <label class="text-in-content mt-2 me-3">ค้นหา ห้อง</label>
                <div><input class="form-control" type="text" placeholder="ระบุเลขห้อง">
                </div>
            </div>
    
            <div class="col-lg-auto col-auto col-md-12 col-sm-12 col-12 margin-search  text-center">

                <button class="button-search ms-3 margin-search-1"><i class="fa-solid fa-magnifying-glass"></i>
                    ค้นหา</button>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="table-responsive table-max-height">
            <table class="table table-striped  table-bordered mt-4 table-scroll">
                <thead>
                    <tr style="text-align: center;">
                        <th scope="col" style="width: 10%;">ห้อง</th>
                        <th scope="col" style="width: 12%; ">บริเวณ</th>
                        <th scope="col" style="width: 30%;">สิ่งที่ต้องการซ่อม</th>
                        <th scope="col" style="width: 10%;">วันที่แจ้ง</th>
                        <th scope="col" style="width: 10%;">สถานะ</th>
                        <th scope="col" style="width: 9%;">อัพเดทสถานะ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of allFixedInfo">
                        <td class="align-items-center">{{item.room}}</td>
                        <td>{{item.area}}</td>
                        <td>{{item.detail}}</td>
                        <td>{{item.date}}</td>
                        <td>{{item.status}}</td>
                        <td class="text-center"><button class="button-search button-update">
                            อัพเดทสถานะ</button></td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="d-flex justify-content-center p-2 mt-2 a">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                (pageChange)="chagnePageFix()"></ngb-pagination>
        </div>

    </div>
</div>

