<div class="container-fluid bg">
    <div class="row d-flex justify-content-center p-0 m-0">
        <div class="content d-flex flex-colum align-items-center justify-content-center p-0">
            <div class="col p-5  col-padding">
                <div class="topicLogin d-flex flex-colum justify-content-center mb-2 mt-3">เปลี่ยน Password</div>
                <div class="d-flex flex-colum justify-content-center mb-4 mt-3"> <span class="font-note"> กรุณาเปลี่ยนรหัสผ่าน จึงจะใช้ระบบครั้งแรกได้</span>
                </div>
                <div class="fontdefult mb-2">Password ใหม่<span class="text-danger" *ngIf="!registerForm.password" >*</span>
                </div>
                <div class="input-group mb-4 formSize">
                    <input type="password" class="form-control fontInForm" placeholder="กรอก password" [(ngModel)]="registerForm.password">
                </div>
                <div class="fontdefult mb-2">ยืนยัน Password อีกครั้ง<span class="text-danger"
                        *ngIf="!registerForm.password2"  >*</span></div>
                <div class="input-group mb-4 formSize">
                    <input type="password" class="form-control fontInForm" placeholder="กรอก password" [(ngModel)]="registerForm.password2">
                </div>
                <div class="d-flex flex-colum justify-content-center"> <button type="button"
                        class="btn loginBtn mt-4 mb-3" (click)="confirmBtn()"><i class="fa-solid fa-check"></i>
                        Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>