.content {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2.5rem;
}

.font-month {
    font-size: 13pt;
    font-weight: bold;
}

.font-month2 {
    color: #FF7F50;
}

.box-month {
    border: 3px solid #FFA07A;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover,
    :active,
    :focus {
        background-color: #FFA07A;
        color: #000000;
    }
}


.text-bold-in-box {
    font-weight: bold;
}

.back-btn {
    color: gray;
    cursor: pointer;

    &:hover {
        color: #FF7F50;
    }
}

.box-detail {
    border: 3px solid #DCDCDC;
    border-radius: 10px;
    padding: 20px;
}





.btn-confirm2 {
    width: 100% !important;
}



.form-control {
    border: 0;
}



input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
}

input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
}

input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
}

.form-control:focus {
    box-shadow: none;
}

.btn-upload {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    background-color: #FFA07A;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);

    &:hover {
        background-color: #FF7F50;
    }
}


.form-control2 {
    border: 3px solid #FF7F50;

}


@media only screen and (max-width: 992px) {
    .btn-upload {
        width: 50% !important;
        margin-top: 1rem;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 575px) {
    .content {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .date-time-margin-top{
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 350px) {
    .content {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    .btn-upload {
        width: 100% !important;
    }
    .btn-confirm2 {
        font-size: 10pt !important;
    }
}

@media only screen and (max-width: 300px) {
    .content {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .font-month {
        font-size: 11pt;
    }    

    .back-btn {
        font-size: 10pt;
    }


}