.content {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2.5rem;
}

.font-month {
    font-size: 13pt;
    font-weight: bold;
}

.font-month2 {
    color: #FF7F50;
}

.box-month {
    border: 3px solid #FFA07A;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover,
    :active,
    :focus {
        background-color: #FFA07A;
        color: #000000;
    }
}


.text-bold-in-box {
    font-weight: bold;
}

.back-btn {
    color: gray;
    cursor: pointer;

    &:hover {
        color: #FF7F50;
    }
}

.box-detail {
    border: 3px solid #DCDCDC;
    border-radius: 10px;
    padding: 20px;
}




@media only screen and (max-width: 350px) {
    .content {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}

.btn-confirm2 {
    width: 100% !important;
}



.form-control {
    /* width: 60%; */
    border: 0;
}

@media only screen and (max-width: 535px) {
    .content {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    /* .form-control{
        width: 80%;
      } */
}

input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
}

.form-control:focus {
    box-shadow: none;
}

.btn-upload{
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    background-color: #FFA07A;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);

    &:hover{
        background-color: #FF7F50;
    }
}



.form-control2{
    border: 3px solid #FF7F50;
    width: auto;
}

.form-control2:focus
 {
    border-color: #FF7F50;
    box-shadow: 0 0 0 0.2rem rgba(255, 127, 80, 0.25);
}