<mat-sidenav-container>
    <div class="header-style ps-3 pe-3 fixed-top">
        <mat-toolbar-row>
            <button mat-button class="icon-open mt-3" (click)="opened = !opened"><i
                    class="fa-solid fa-bars"></i></button>
            <img class="mt-2" src="../../../assets/img/logo2.png" alt="" width="45px"
                style="vertical-align: top !important;">
            <span style="float: right;" class="mt-3 ">
                <span class="me-3"><i class="fa-solid fa-bell" style="font-size: 14pt;"></i></span>
                <span class="me-3"><i class="fa-solid fa-circle-user"></i> {{userInfo.username}}</span>
                <span class="logout-btn" (click)="clickToLogout()"> <i class="fa-solid fa-right-from-bracket "></i> Logout</span>
            </span>
        </mat-toolbar-row>
    </div>
    <mat-sidenav [(opened)]="opened" mode="over" class="ps-3 pt-4 pe-0">
        <app-sidebar></app-sidebar>
        <div>
            <button class="button-close mt-5" (click)="opened = !opened"><i class="fa-solid fa-chevron-left"></i></button>
        </div>

    </mat-sidenav>

    <div class="container-fluid bg-page">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>