<div class="row p-0 pt-5 mt-5">
    <div class="d-flex justify-content-center text-title mt-5">{{title}}</div>
    <div class="content">
        <div class="row d-flex justify-content-center align-items-center margin">
            <div class="col-lg-auto col-md-12  col-sm-12 col-12  mb-3 form-center">
                <label class="text-in-content mt-2 me-3">เลือกเดือน</label>
                <label><input class="form-control" type="month"></label>
            </div>
        </div>

        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-auto col-md-12  col-sm-12 col-12  mb-3 form-center">
                <label  class="text-in-content mt-2 me-3">อัพโหลดไฟล์ .CSV</label>
            </div>
            <div class="col-lg-auto col-md-12  col-sm-12 col-12  mb-3 form-center">
                <label><input class="form-control" type="file"></label>
            </div>
        </div>
            <div class="d-flex justify-content-center align-items-center mb-5 mt-5" (click)="confirmBtn()"><button class="btn-confirm"><i
                class="fa-solid fa-check"></i> Confirm</button></div>
        

        </div>
</div>