<div class="container-fluid bg">
    <div class="row d-flex justify-content-center p-0 m-0">
        <div class="content d-flex align-items-center justify-content-center p-0">
            <div class="col p-5 padding-size  col-padding">
                <div class="d-flex justify-content-center mb-4 mt-3"> <i
                        class="fa-solid fa-face-laugh-beam icon-size"></i>
                </div>
                <div class="d-flex justify-content-center align-items-center mb-4 mt-3 fontdefult">Login Successful!
                </div>
                <div class="d-flex justify-content-center align-items-center mb-4 mt-3 fontdefult text-center">
                    สามารถเลือกใช้บริการอื่น ๆ
                </div>
                <div class="fontdefult text-center mb-4"> จากเมนูในไลน์ได้ค่ะ
                </div>
            </div>
        </div>
    </div>
</div>