<ul class="menu m-0 p-0">
    <img src="../../../assets/img/logo.png" class="img-center" alt="">
    <div class="menuList mt-4" routerLink="/home">
      <i class="fa-solid fa-house" style="margin-right: 15px;"></i> 
      Home
    </div>
    <div class="menuList" routerLink="/receive">
      <i class="fa-solid fa-dolly" style="font-size: 16pt; margin-right: 13px;"></i> 
      Receive
    </div>
    <div class="menuList" routerLink="/picking">
      <i class="fa-solid fa-clipboard-list" style="font-size: 16.5pt; margin-right: 16px; margin-left: 4px;"></i>
      Picking
    </div>
    <div class="menuList" routerLink="/inventory">
      <i class="fa-solid fa-warehouse" style="font-size: 13pt; margin-right: 13px; margin-left: 3px;"></i>
      Inventory
    </div>
    <div class="menuList" routerLink="/suppiler">
      <i class="fa-solid fa-people-carry-box" style="margin-right: 13px;"></i> 
      Supplier
    </div>
    <div class="menuList" routerLink="/report">
      <i class="fa-regular fa-file-lines" style="font-size: 16.5pt; margin-right: 18px; margin-left: 2px;"></i> 
      Report
    </div>
    <div class="menuList" routerLink="/setting">
      <i class="fa-solid fa-sliders " style="font-size: 16pt; margin-right: 13px;"></i> 
      Setting
    </div>
  
    
  </ul>