<ul class="menu m-0 p-0 mt-4 mb-3">
  <div class="icon-cicle">
    <img src="../../../assets/img/logo.png" class="img-center" alt="">
</div>
    <div class="menuList mt-4" routerLink="/admin/home">
      <i class="fa-solid fa-house" style="margin-right: 15px;"></i> 
      หน้าหลัก
    </div>
    <div class="menuList" routerLink="/admin/fix-page">
      <i class="fa-solid fa-screwdriver-wrench" style="font-size: 16pt; margin-right: 13px;"></i>
      ดูแจ้งซ่อมแซม
    </div>
    <div class="menuList" routerLink="/admin/clean-page">
      <i class="fa-solid fa-broom"  style="font-size: 16pt; margin-right: 12px;"></i>
      ดูแจ้งทำความสะอาด
    </div>
    <div class="menuList" routerLink="/admin/all-meter">
      <i class="fa-solid fa-bolt" style="font-size: 16pt; margin-right: 18px;"></i>
      บันทึกเลขมิเตอร์
    </div>
    <div class="menuList" routerLink="/admin/payment-page">
      <i class="fa-solid fa-money-bill" style="font-size: 16pt; margin-right: 13px;"></i>
      ดูแจ้งชำระเงิน
    </div>
    <div class="menuList" routerLink="/admin/add-user">
      <i class="fa-solid fa-user-plus" style="font-size: 16pt; margin-right: 12px;"></i>
      เพิ่มผู้อยู่อาศัย
    </div>
  </ul>