<div class="row p-0 pt-5 mt-5">
    <!-- <div class="d-flex justify-content-center text-title mt-5">{{title}}</div> -->
    <div class="content">
        <div class="text-title text-center mt-3 mb-3"> WELCOME TO Q APARTMENT MANAGEMENT
        </div>

        <div class="mt-5">
            <div class="row center-img">
                <div class="col-xl-auto col-lg-auto col-md-auto col-sm-12 box mx-2">
                    <div class="img-area">
                        <img src="../../../../assets/img/h1.jpg" class="image">
                        <div class="middle">
                            <div class="text" routerLink="/admin/fix-page">ดูแจ้งซ่อมแซม</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-auto col-lg-auto col-md-auto col-sm-12  box mx-2 margin-top-md">
                    <div class="img-area">
                        <img src="../../../../assets/img/h2.jpg " class="image">
                        <div class="middle" routerLink="/admin/clean-page">
                            <div class="text">ดูแจ้งทำความสะอาด</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row center-img mt-5 margin-top-md mb-4">
                <div class="col-xl-auto col-lg-auto col-md-auto col-sm-12 box mx-2 ">
                    <div class="img-area">
                        <img src="../../../../assets/img/h4.jpg " class="image">
                        <div class="middle">
                            <div class="text" routerLink="/admin/meter-page">บันทึกเลขมิเตอร์</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-auto col-lg-auto col-md-auto col-sm-12  box mx-2 margin-top-md">
                    <div class="img-area">
                        <img src="../../../../assets/img/h3.jpg" class="image">
                        <div class="middle">
                            <div class="text" routerLink="/admin/payment-page">แจ้งชำระเงิน</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row center-img mt-5 margin-top-md mb-4">
                <div class="col-xl-auto col-lg-auto col-md-auto col-sm-12  box mx-2 ">
                    <div class="img-area">
                        <img src="../../../../assets/img/h5.jpg" class="image">
                        <div class="middle">
                            <div class="text" routerLink="/admin/payment-page">เพิ่มผู้อยู่อาศัย</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>