<div class="title-user text-center">
    {{title}}
</div>
<hr class="mt-4">
<div class="content">
    <div class="row">
        <div class="col-6 ">
            <div class="text-label-bold">แจ้งซ่อมวันที่ 11/04/2566</div>
        </div>
        <div class="col-6">
            <div class="text-status">กำลังดำเนินการ</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3">
            <div class="text-label">ซ่อมไฟ บริเวณ ห้องนั่งเล่น</div>
        </div>
    </div>
</div>
<hr class="mt-5">
