.title-user {
    font-size: 15pt;
    font-weight: bold;
    color: #4E4D4D;
}

.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
    width: 50%;
}

.text-label {
    display: flex;
    justify-content: end;
    font-size: 13pt;
}

.text-note {
    color: #656565;
}

@media only screen and (max-width: 1301px) {
    .content {
        width: 60%;
    }
}

@media only screen and (max-width: 1087px) {
    .content {
        width: 80%;
    }
}

@media only screen and (max-width: 992px) {
    .text-label {
        justify-content: start;
        margin-bottom: 0.5rem;
    }

    .content {
        width: 60%;
    }

    .btn-confirm2{
        width: 100% !important;
    }
}

@media only screen and (max-width: 580px) {
    .content {
        width: 70%;
    }
    .text-note {
        text-align: start !important;
    }
}

@media only screen and (max-width: 450px) {
    .content {
        width: 75%;
    }

    .title-user {
        font-size: 14pt;
    }

    .text-label {
        font-size: 12pt;
    }

    .text-note {
        font-size: 10pt;
    }
}