<div class="title-user text-center">
    {{title}}
</div>
<hr class="mt-4">
<div class="content">
    <div class="row mt-4">
        <div class="col-lg-3 col-md-12 mt-2 text-label">
            รายละเอียดเพิ่มเติม
        </div>
        <div class="col-lg-6 col-md-12">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                placeholder="ระบุรายละเอียดเพิ่มเติม" [(ngModel)]="cleanForm.description"></textarea>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-3 col-md-12 mt-2 text-label">
            เบอร์โทรสำรอง <span class="text-danger ms-1">*</span>
        </div>
        <div class="col-lg-6 col-md-12">
            <input type="text" maxlength="10" class="form-control" placeholder="กรุณาระบุเบอร์โทร" [(ngModel)]="cleanForm.sub_phone">
        </div>
    </div>
    <div class="text-note mt-4 text-center">หมายเหตุ เจ้าหน้าที่จะติดต่อไปทางเบอร์โทรอีกครั้ง
        เพื่อนัดหมายวัน/เวลา</div>
    <div class="d-flex justify-content-center align-items-center mb-5 mt-5" (click)="confirmBtn()"><button
            class="btn-confirm2"><i class="fa-solid fa-check"></i> ยืนยันการแจ้งทำความสะอาด</button></div>
</div>